<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>uni00A0</string>
      <string>uni202F</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>quotesingle</string>
      <string>colon</string>
      <string>slash</string>
      <string>oe</string>
      <string>ae</string>
      <string>OE</string>
      <string>AE</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>quoteright</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>question</string>
      <string>questiondown</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>plus</string>
      <string>semicolon</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>at</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>asciicircum</string>
      <string>underscore</string>
      <string>grave</string>
      <string>braceleft</string>
      <string>bar</string>
      <string>braceright</string>
      <string>asciitilde</string>
      <string>endash</string>
      <string>emdash</string>
      <string>ellipsis</string>
      <string>degree</string>
      <string>Euro</string>
      <string>copyright</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>periodcentered</string>
      <string>bullet</string>
      <string>minus</string>
      <string>dotlessi</string>
      <string>acute.comp</string>
      <string>grave.comp</string>
      <string>circumflex.comp</string>
      <string>dieresis.comp</string>
      <string>cedilla.comp</string>
      <string>eacute</string>
      <string>egrave</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>agrave</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ugrave</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ydieresis</string>
      <string>ccedilla</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Agrave</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ugrave</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ydieresis</string>
      <string>Ccedilla</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>acute</string>
      <string>cedilla</string>
    </array>
    <key>public.openTypeCategories</key>
    <dict>
      <key>acutecomb</key>
      <string>mark</string>
      <key>cedillacomb</key>
      <string>mark</string>
      <key>circumflexcomb</key>
      <string>mark</string>
      <key>dieresiscomb</key>
      <string>mark</string>
      <key>gravecomb</key>
      <string>mark</string>
    </dict>
  </dict>
</plist>
